
.titreGeneral
{
    font-size: 3rem;
    text-align: center;
    background-color: rgb(41, 38, 38); font-weight: bolder;
    font-family: 'Comic sans MS';
   
    color: #fff;
    
}


.style6
{
    color: red;
    font-size: 2rem;
    text-align: center;
    vertical-align: middle;
    
    
}
.sectionCard{
    min-width: 20vw;
    min-height: 10vh;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 10px 10px 10px 10px;
    height: 150px;
    text-align: center;
    letter-spacing: 0.1em;
    /* background-color: rgba(125, 125, 100, 0.7); */
    font-weight: bolder;
}

.link{
  background-color: rgb(195, 185, 38);
}
.link:hover
{
    background-color: #000;
    color: #fff;
}